<!DOCTYPE html>
<html>

<head>
    <title>IntelliBin AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="navbar">
        <div>
            <div class="logo">IntelliBin</div>
            <div class="tagline">Think Smart. Dispose Smart.</div>
        </div>
    </div>

    <div class="hero">

        <div class="hero-text">
            <h1>AI-Powered <span>Waste Classification</span> System</h1>

            <p>
                IntelliBin uses Deep Learning and Computer Vision to classify waste materials into categories such as plastic, paper, cardboard, metal, and glass.
            </p>
        </div>

        <div class="card">

            <form action="/predict" method="POST" enctype="multipart/form-data">

                <div class="upload-box">
                    <h2>Upload Waste Image</h2>

                    <p>Select an image for AI prediction</p>

                    <input 
    type="file" 
    name="file" 
    id="imageInput"
    accept="image/*"
    required
>

<br><br>

<img 
    id="previewImage"
    src=""
    style="
        width:250px;
        display:none;
        border-radius:12px;
        margin-top:20px;
    "
>
                </div>

                <button type="submit">
                    Predict Waste Type
                </button>

            </form>

        </div>

    </div>

    <div class="stats">

        <div class="stat-card">
            <h2>93%</h2>
            <p>Training Accuracy</p>
        </div>

        <div class="stat-card">
            <h2>5</h2>
            <p>Waste Categories</p>
        </div>

        <div class="stat-card">
            <h2>AI</h2>
            <p>Deep Learning Powered</p>
        </div>

        <div class="stat-card">
            <h2>Live</h2>
            <p>Real-Time Prediction</p>
        </div>

    </div>

</div>
<script>

const imageInput = document.getElementById('imageInput');

const previewImage = document.getElementById('previewImage');

imageInput.addEventListener('change', function(event){

    const file = event.target.files[0];

    if(file){

        previewImage.src = URL.createObjectURL(file);

        previewImage.style.display = 'block';
    }

});

</script>

</body>
</html>